<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyBox App</title>
</head>
<body>

<h1>Welcome to PyBox App !!</h1>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
<!-- .as_p makes all fields vertical under each other !-->
    <input type="submit" value="Submit">
</form>

</body>
</html>