<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    {% load i18n %}
</head>
<body>
{% get_current_language as LANGUAGE_CODE %}
<h1>{{ LANGUAGE_CODE }}</h1>
<h1>{{ title }}</h1>
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input type="hidden" name="next" value="{{ redirect_to }}">
    <select name="language" id="">
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="GO">
</form>


<h1>This is the login page !</h1>


</body>
</html>