<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Django{%  endblock %}</title>
</head>
<body>

</body>
</html>



<!-- and the we have to put this on the top of other pages that want to inherit the template

{% extends "apptwo/base.html" %}

for exceptons we gonna use this :

{% block title %}Pictures{% endblock %}

!-->
