<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Apptwo</title>

    <link rel="stylesheet" href="{% static 'apptwo/css/style.css' %}" type="text/css" media="screen">

</head>
<body>
<h1>This is apptwo, I`m typing in h1 !</h1>

<!-- here I am using filters. Title makes the first letter of every word capital
 the length filter gives you the length of the phrase !-->
<h2>{{page_title|title}} - {{page_title|length}}</h2>

<br/>

<!-- the safe filter helps you to write html tags in a python file !-->
{{ description|safe }}

{# this is a private comment, not visible in the html !! #}

<!-- html comment !-->

{% comment not visible in the generated html %}
<h2>This would not be visible </h2>
{% endcomment %}



<div style="background: #ff0000;">Lorem ipsum text, typed inside div</div>

<br/>

<div style="background: #bb2222;">

    category : {{ category }} <br/>
    year : {{ year }}  <br/>
    month : {{ month }} <br/>
    day : {{ day }}

</div>

<br/>

<div style="background: #bb5599;">

    filename: {{ picture.filename }} <br/>
    first category: {{ picture.categories.0 }} <br/>

</div>

<!-- this is how you type a python condition in html !-->
{% if day == 10 %}
<h3>This is a special day</h3>
{% elif day == 30 %}
<h3>This is the end of the month</h3>
{% else %}
<h3>Nothing fancy today !! </h3>
{% endif %}

<br/>

<!-- this is how you have a for loop in html !-->
<div style="background: #bb8899;">

    filename: {{ picture.filename }} <br/>
    All categories :
    {% for category in picture.categories %}
        {{ category }}
    {% endfor %}
<br/>
    All categories with filter : {{ picture.categories|join:', '}}
</div>

<br/>


<table>
    <tr style="background-color: {% cycle '#80e27e' '#087f23' as rowcolors %}">
        <td>Resolution</td>
        <td>1920*1080</td>
    </tr>
    <tr style="background-color: {% cycle rowcolors %}">
        <td>Location</td>
        <td>Tokio</td>
    </tr>
        <tr style="background-color: {% cycle rowcolors %}">
        <td>Location</td>
        <td>Montréal</td>
    </tr>
    </tr>
        <tr style="background-color: {% cycle rowcolors %}">
        <td>Location</td>
        <td>Rome</td>
    </tr>
    </tr>
        <tr style="background-color: {{ rowcolors }}">
        <td>Location</td>
        <td>Paris</td>
    </tr>


</table>

<!-- this is a for loop to show the images, using static !! !-->
{% for picture in pictures %}
    {% with 'apptwo/'|add:picture.filename as filepath %}
    <div class="picture">
        <h2>{{ picture.name }}</h2>
        <img src="{% static filepath %}" />
    </div>
{% endwith %}
{% endfor %}




</body>
</html>